.element__like {
   background-image: url(../../../../image/elementslike.svg);
   width: 22px;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.element__like_activ {
   background-image: url(../../../../image/elementslike_black.svg);
}

.element__like:hover {
   opacity: 0.5;
   transition: 0.5s;
}