.profile__container {
   display: flex;
   position: relative;
   align-items: center;
}

@media screen and (max-width: 750px) {
   .profile__container {
      flex-direction: column;
      min-width: 282px;
   }
}